<div class="container blog-body">
	<section class="jumbotron text-center titelbild">
		<div class="container titeltextbg">
			<h1 class="jumbotron-heading textfarbe"></h1>
			<p class="lead text-muted textfarbe">

			</p>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>

	  <div class="main-container">

		  <div class="searchBackground">

		  </div>
		  </div>
		</div>
	  </section>
	<div class="album py-5 bg-light">

<div class="container">
<form class="form-horizontal" #loginForm="ngForm" (ngSubmit)="login()" role="form" >
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
<strong><h2>Anmeldung</h2></strong>
<hr>
</div>
</div>
<div class="row">
<div class="col-md-3 field-label-responsive">
<label for="username">Benutzername</label>
</div>
<div class="col-md-6">
<div class="form-group">
<div class="input-group mb-2 mr-sm-2 mb-sm-0">
<div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
<input type="text" name="username" [(ngModel)]="username" class="form-control" id="username" placeholder="Benutzername" #name="ngModel" required
autofocus>
</div>
</div>
</div>
<div class="col-md-3">
<div class="form-control-feedback">
<span class="text-danger align-middle">
<!-- Put name validation error messages here -->
</span>
</div>
</div>
</div>

<div class="col-md-3">
<div class="form-control-feedback">
<span class="text-danger align-middle">
<!-- Put e-mail validation error messages here -->
</span>
</div>
</div>

<div class="row">
<div class="col-md-3 field-label-responsive">
<label for="password">Passwort</label>
</div>
<div class="col-md-6">
<div class="form-group has-danger">
<div class="input-group mb-2 mr-sm-2 mb-sm-0">
<div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
<input type="password" name="password" [(ngModel)]="password" class="form-control" id="password" #name="ngModel" placeholder="Passwort" required>
</div>
</div>
</div>

</div>

<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
<button type="submit" class="btn btn-success" routerLink='' (click)="login()" id="registrierenbutton" style="border:none"><i class="fa fa-user-plus"></i>
Anmelden</button>
</div>
</div>
</form>
</div>

</div>
</div>