<nav class="navbar navbar-expand-lg navbar" id="babo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand"  href="#" [routerLink]="['/startseite']">KitApp</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <button class="nav-link" [routerLink]="['/login']">LogIn</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" [routerLink]="['/signup']">SignUp</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" [routerLink]="['/kitas']">Kitas</button>
            </li>
          <li class="nav-item">
            <button class="nav-link" [routerLink]="['/calculator']">Standort</button>
          </li>
        </ul>
    </div>
</nav>
