#registrierenbutton{
margin-left: 15rem !important;
}

.titelbild{
    background-image: url(/assets/bild4.jpg);
    background-size: cover;
  }

  @media(min-width: 768px) {
    .field-label-responsive {
      padding-top: .5rem;
      text-align: right;
    }
  }

  .blog-body{
    border-radius: 20px;
    background-color: rgb(20, 220, 255);
    font-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 25px;
    margin-bottom: 30px;
  }
  