<div class="container blog-body">
    <section class="jumbotron text-center titelbild">
        <div class="container titeltextbg">
            <h1 class="jumbotron-heading textfarbe"></h1>
            <p class="lead text-muted textfarbe">

            </p>


            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>


            <div class="main-container">



                <div class="searchBackground">


                </div>
            </div>
        </div>
    </section>
    <h1>Vorhandene Kitas</h1>
    <div class="album py-5 bg-light">


        <ul>
            <li *ngFor="let kita of kitas">
                {{kita.name}}
            </li>
        </ul>

    </div>
</div>