<form (ngSubmit)="userEingabe()">
  Strasse
  <input type="text" id="strasse" required [(ngModel)]="calculator.strasse" name="strasse">
  Hausnummer
  <input type="text" id="hausnummer" required [(ngModel)]="calculator.hausnummer" name="hausnummer">
  Postleitzahl
  <input type="text" id="plz" required [(ngModel)]="calculator.postleitzahl" name="plz">
  Stadt
  <input type="text" id="stadt" required [(ngModel)]="calculator.stadt" name="stadt">
  <button type="submit">LOS !</button>
</form>
